{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title> {{pageName}} </title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static  'front/images/icons/favicon.png' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static  'front/vendor/bootstrap/css/bootstrap.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static   'front/fonts/fontawesome-5.0.8/css/fontawesome-all.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static  'front/fonts/iconic/css/material-design-iconic-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static  'front/vendor/animate/animate.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static  'front/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static  'front/vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static  'front/css/util.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static  'front/css/main.css' %}">
<!--===============================================================================================-->
</head>
<body class="animsition">

	<!-- Header -->
	<header>
		<!-- Header desktop -->
		<div class="container-menu-desktop">
			<div class="topbar">
				<div class="content-topbar container h-100">
					<div class="left-topbar">
						<span class="left-topbar-item flex-wr-s-c">
							<span>
								New York, NY
							</span>

							<img class="m-b-1 m-rl-8" src="{% static '/images/icons/icon-night.png'%}" alt="IMG">

							<span>
								HI 58° LO 56°
							</span>
						</span>

						<a href="/about" class="left-topbar-item">
							About
						</a>

						<a href="{% static 'front/#" class="left-topbar-item">
							Contact
						</a>

						<a href="/login" class="left-topbar-item">
							Log in/Sing up
						</a>

						<a href="{% static 'front/#" class="left-topbar-item">
							Log in
						</a>
					</div>

					<div class="right-topbar">
						<a href="{% static 'front/#">
							<span class="fab fa-facebook-f"></span>
						</a>

						<a href="{% static 'front/#">
							<span class="fab fa-twitter"></span>
						</a>

						<a href="{% static 'front/#">
							<span class="fab fa-pinterest-p"></span>
						</a>

						<a href="{% static 'front/#">
							<span class="fab fa-vimeo-v"></span>
						</a>

						<a href="{% static 'front/#">
							<span class="fab fa-youtube"></span>
						</a>
					</div>
				</div>
			</div>

			<!-- Header Mobile -->
			<div class="wrap-header-mobile">
				<!-- Logo moblie -->
				<div class="logo-mobile">
					<a href="/home">
                        <img src="{{pageName}}" alt="IMG-LOGO"></a>
				</div>

				<!-- Button show menu -->
				<div class="btn-show-menu-mobile hamburger hamburger--squeeze m-r--8">
					<span class="hamburger-box">
						<span class="hamburger-inner"></span>
					</span>
				</div>
			</div>

			<!-- Menu Mobile -->
			<div class="menu-mobile">
				<ul class="topbar-mobile">
					<li class="left-topbar">
						<span class="left-topbar-item flex-wr-s-c">
							<span>
								New York, NY
							</span>

							<img class="m-b-1 m-rl-8" src="{% static 'front/images/icons/icon-night.png'%}" alt="IMG">

							<span>
								HI 58° LO 56°
							</span>
						</span>
					</li>

					<li class="left-topbar">
						<a href="/about" class="left-topbar-item">
							About
						</a>

						<a href="{% static 'front/#" class="left-topbar-item">
							Contact
						</a>

						<a href="/login" class="left-topbar-item">
							Log in/Sing up
						</a>

						<a href="{% static 'front/#" class="left-topbar-item">

						</a>
					</li>

					<li class="right-topbar">
						<a href="{% static 'front/#">
							<span class="fab fa-facebook-f"></span>
						</a>

						<a href="{% static 'front/#">
							<span class="fab fa-twitter"></span>
						</a>

						<a href="{% static 'front/#">
							<span class="fab fa-pinterest-p"></span>
						</a>

						<a href="{% static 'front/#">
							<span class="fab fa-vimeo-v"></span>
						</a>

						<a href="{% static 'front/#">
							<span class="fab fa-youtube"></span>
						</a>
					</li>
				</ul>

				<ul class="main-menu-m">
					<li>
						<a href="/home">Home</a>
						<ul class="sub-menu-m">
							<li><a href="{% static 'front/index.html">Homepage v1</a></li>
							<li><a href="{% static 'front/home-02.html">Homepage v2</a></li>
							<li><a href="{% static 'front/home-03.html">Homepage v3</a></li>
						</ul>

						<span class="arrow-main-menu-m">
							<i class="fa fa-angle-right" aria-hidden="true"></i>
						</span>
					</li>

					<li>
						<a href="{% static 'front/category-01.html">News</a>
					</li>


				</ul>
			</div>

			<!--  -->
			<div class="wrap-logo container">
				<!-- Logo desktop -->
				<div class="logo">
					<a href="/home"><img src="{{pageName.picurl}}" alt="LOGO"></a>
				</div>

				<!-- Banner -->
				<div class="banner-header">
					<a href="/home"><img src="{% static 'front/images/banner-01.jpg'%}" alt="IMG"></a>
				</div>
			</div>

			<!--  -->
			<div class="wrap-main-nav">
				<div class="main-nav">
					<!-- Menu desktop -->
					<nav class="menu-desktop">
						<a class="logo-stick" href="{% static 'front/index.html">
							<img src="{% static 'front/images/icons/logo-01.png'%}" alt="LOGO">
						</a>

						<ul class="main-menu">
							<li class="main-menu-active">
								<a href="/home">Home</a>
								<ul class="sub-menu">
									<li><a href="{% static 'front/index.html">Homepage v1</a></li>
									<li><a href="{% static 'front/home-02.html">Homepage v2</a></li>
									<li><a href="{% static 'front/home-03.html">Homepage v3</a></li>
								</ul>
							</li>
                        {% for g in cat%}
							{% if g.count != 0%}
							<li class="mega-menu-item">
								<a href="{% static 'front/category-01.html">{{g.name}}</a>

								<div class="sub-mega-menu">
									<div class="nav flex-column nav-pills" role="tablist">
										{% for s in scat%}
										{% if s.categoryId == g.pk%}
									<ul class=" "><li><a class="nav-link active" data-toggle="pill" href=" {{s.pk}}" role="tab">{{s.name}}</a></li></ul>
										{% endif%}
										{% endfor%}

									</div>

									<div class="tab-content">
										<div class="tab-pane show active" id="news-0" role="tabpanel">
											<div class="row">
												{% for n in news%}
												{% if n.newCategory == g.pk%}
												<div class="col-3">
													<!-- Item post -->
													<div>
														<a href="{% url 'news_datile' pk=n.pk %}" class="wrap-pic-w hov1 trans-03">
															<img src="{{n.picUrl}}" alt="IMG">
														</a>

														<div class="p-t-10">
															<h5 class="p-b-5">
																<a href="{% static 'front/blog-detail-01.html" class="f1-s-5 cl3 hov-cl10 trans-03">
																	{{n.name}}Donec metus orci, malesuada et lectus vitae
																</a>
															</h5>

															<span class="cl8">
																<a href="{% static 'front/#" class="f1-s-6 cl8 hov-cl10 trans-03">
																	Music
																</a>

																<span class="f1-s-3 m-rl-3">
																	-
																</span>

																<span class="f1-s-3">
																	{{n.date}}
																</span>
															</span>
														</div>
													</div>
												</div>
												{% endif%}
												{% endfor%}


											</div>
										</div>

										<div class="tab-pane" id="news-1" role="tabpanel">
											<div class="row">
												<div class="col-3">
													<!-- Item post -->
													<div>
														<a href="{% static 'front/blog-detail-01.html" class="wrap-pic-w hov1 trans-03">
															<img src="{% static 'front/images/post-50.jpg'%}" alt="IMG">
														</a>

														<div class="p-t-10">
															<h5 class="p-b-5">
																<a href="{% static 'front/blog-detail-01.html" class="f1-s-5 cl3 hov-cl10 trans-03">
																	Donec metus orci, malesuada et lectus vitae
																</a>
															</h5>

															<span class="cl8">
																<a href="{% static 'front/#" class="f1-s-6 cl8 hov-cl10 trans-03">
																	Music
																</a>

																<span class="f1-s-3 m-rl-3">
																	-
																</span>

																<span class="f1-s-3">
																	Feb 18
																</span>
															</span>
														</div>
													</div>
												</div>

												<div class="col-3">
													<!-- Item post -->
													<div>
														<a href="{% static 'front/blog-detail-01.html" class="wrap-pic-w hov1 trans-03">
															<img src="{% static 'front/images/post-08.jpg'%}" alt="IMG">
														</a>

														<div class="p-t-10">
															<h5 class="p-b-5">
																<a href="{% static 'front/blog-detail-01.html" class="f1-s-5 cl3 hov-cl10 trans-03">
																	Donec metus orci, malesuada et lectus vitae
																</a>
															</h5>

															<span class="cl8">
																<a href="{% static 'front/#" class="f1-s-6 cl8 hov-cl10 trans-03">
																	Music
																</a>

																<span class="f1-s-3 m-rl-3">
																	-
																</span>

																<span class="f1-s-3">
																	Feb 12
																</span>
															</span>
														</div>
													</div>
												</div>

												<div class="col-3">
													<!-- Item post -->
													<div>
														<a href="{% static 'front/blog-detail-01.html" class="wrap-pic-w hov1 trans-03">
															<img src="{% static 'front/images/post-07.jpg'%}" alt="IMG">
														</a>

														<div class="p-t-10">
															<h5 class="p-b-5">
																<a href="{% static 'front/blog-detail-01.html" class="f1-s-5 cl3 hov-cl10 trans-03">
																	Donec metus orci, malesuada et lectus vitae
																</a>
															</h5>

															<span class="cl8">
																<a href="{% static 'front/#" class="f1-s-6 cl8 hov-cl10 trans-03">
																	Music
																</a>

																<span class="f1-s-3 m-rl-3">
																	-
																</span>

																<span class="f1-s-3">
																	Jan 20
																</span>
															</span>
														</div>
													</div>
												</div>

												<div class="col-3">
													<!-- Item post -->
													<div>
														<a href="{% static 'front/blog-detail-01.html" class="wrap-pic-w hov1 trans-03">
															<img src="{% static 'front/images/post-06.jpg'%}" alt="IMG">
														</a>

														<div class="p-t-10">
															<h5 class="p-b-5">
																<a href="{% static 'front/blog-detail-01.html" class="f1-s-5 cl3 hov-cl10 trans-03">
																	Donec metus orci, malesuada et lectus vitae
																</a>
															</h5>

															<span class="cl8">
																<a href="{% static 'front/#" class="f1-s-6 cl8 hov-cl10 trans-03">
																	Music
																</a>

																<span class="f1-s-3 m-rl-3">
																	-
																</span>

																<span class="f1-s-3">
																	Jan 15
																</span>
															</span>
														</div>
													</div>
												</div>
											</div>
										</div>
                                     {% for sub in scat %}
										<div class="tab-pane" id="{{sub.pk}}" role="tabpanel">
											<div class="row">
												<div class="col-3">
													<!-- Item post -->
													<div>
														<a href="{% static 'front/blog-detail-01.html" class="wrap-pic-w hov1 trans-03">
															<img src="{% static 'front/images/post-21.jpg'%}" alt="IMG">
														</a>

														<div class="p-t-10">
															<h5 class="p-b-5">
																<a href="{% static 'front/blog-detail-01.html" class="f1-s-5 cl3 hov-cl10 trans-03">
																	Donec metus orci, malesuada et lectus vitae
																</a>
															</h5>

															<span class="cl8">
																<a href="{% static 'front/#" class="f1-s-6 cl8 hov-cl10 trans-03">
																	Music
																</a>

																<span class="f1-s-3 m-rl-3">
																	-
																</span>

																<span class="f1-s-3">
																	Feb 18
																</span>
															</span>
														</div>
													</div>
												</div>

												<div class="col-3">
													<!-- Item post -->
													<div>
														<a href="{% static 'front/blog-detail-01.html" class="wrap-pic-w hov1 trans-03">
															<img src="{% static 'front/images/post-24.jpg'%}" alt="IMG">
														</a>

														<div class="p-t-10">
															<h5 class="p-b-5">
																<a href="{% static 'front/blog-detail-01.html" class="f1-s-5 cl3 hov-cl10 trans-03">
																	Donec metus orci, malesuada et lectus vitae
																</a>
															</h5>

															<span class="cl8">
																<a href="{% static 'front/#" class="f1-s-6 cl8 hov-cl10 trans-03">
																	Music
																</a>

																<span class="f1-s-3 m-rl-3">
																	-
																</span>

																<span class="f1-s-3">
																	Jan 15
																</span>
															</span>
														</div>
													</div>
												</div>

												<div class="col-3">
													<!-- Item post -->
													<div>
														<a href="{% static 'front/blog-detail-01.html" class="wrap-pic-w hov1 trans-03">
															<img src="{% static 'front/images/post-22.jpg'%}" alt="IMG">
														</a>

														<div class="p-t-10">
															<h5 class="p-b-5">
																<a href="{% static 'front/blog-detail-01.html" class="f1-s-5 cl3 hov-cl10 trans-03">
																	Donec metus orci, malesuada et lectus vitae
																</a>
															</h5>

															<span class="cl8">
																<a href="{% static 'front/#" class="f1-s-6 cl8 hov-cl10 trans-03">
																	Music
																</a>

																<span class="f1-s-3 m-rl-3">
																	-
																</span>

																<span class="f1-s-3">
																	Feb 12
																</span>
															</span>
														</div>
													</div>
												</div>

												<div class="col-3">
													<!-- Item post -->
													<div>
														<a href="{% static 'front/blog-detail-01.html" class="wrap-pic-w hov1 trans-03">
															<img src="{% static 'front/images/post-23.jpg'%}" alt="IMG">
														</a>

														<div class="p-t-10">
															<h5 class="p-b-5">
																<a href="{% static 'front/blog-detail-01.html" class="f1-s-5 cl3 hov-cl10 trans-03">
																	Donec metus orci, malesuada et lectus vitae
																</a>
															</h5>

															<span class="cl8">
																<a href="{% static 'front/#" class="f1-s-6 cl8 hov-cl10 trans-03">
																	Music
																</a>

																<span class="f1-s-3 m-rl-3">
																	-
																</span>

																<span class="f1-s-3">
																	Jan 20
																</span>
															</span>
														</div>
													</div>
												</div>
											</div>
										</div>
										{% endfor%}


									</div>

								</div>
							</li>
							{% endif%}
							{% endfor%}



						</ul>
					</nav>
				</div>
			</div>
		</div>
	</header>



   {% block mainblock%}

    {% endblock %}

 {% block footerlock%}

    {% endblock %}



<!--===============================================================================================-->	
	<script src="{% static 'front/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'front/vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'front/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'front/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'front/js/main.js' %}"></script>

</body>
</html>
